[alias]
st = status
cm = commit -m
ad = add .
ps = push
als = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
lg = log
lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --date=relative
lgn = log --graph --all -25 --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --date=relative
lgd = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
cnf = !git ls-files -u | cut -f 2 | sort -u
d = diff
d1 = diff HEAD~
d2 = diff HEAD~2
d3 = diff HEAD~3
bra = branch
braa = branch -a
ch = checkout
mg = merge
rb = rebase
fc = fetch




[core]
excludesfile = /Users/seki_k/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[user]
name = Kaito Seki
email =

[push]
default = simple
