[alias]
st = status
cm = commit -m
ad = add .
ps = push
ailias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
la = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --date=relative
l = log --graph --all -35 --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --date=relative
ld = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
cf = !git ls-files -u | cut -f 2 | sort -u
d = diff
d1 = diff HEAD~
d2 = diff HEAD~2
d3 = diff HEAD~3
br = branch
ch = checkout
mg = merge
rb = rebase
rbc = rebase --continue
fc = fetch
pl = pull



[core]
excludesfile = /Users/seki_k/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[user]
name = Kaito Seki
email =

[push]
default = simple
